ldap:
  url: ldap://%host:389/

  bind_dn: %bind_dn
  bind_pw: %bind_pw
  base_dn: %base_db

  filter: (&(objectCategory=person)(objectClass=user)(memberOf=cn=BDAI,OU=组,dc=domain,dc=oceansoft))
  attrs: [sAMAccountName, mail, mobile]


role:
  g_dev:
    user:
    workspace: /wsdev
  g_prod:
    user: [prt, pol]
    workspace: /wsprod

ansible:
  role_main_yml_to: {{ cwd }}/ansible/roles/common/tasks

kerberos:
  admin: %admin
  admin_pw: %admin_pw
  keytab_to: %keytab_location