ldap:
  url: ldap://%host:389/
  intra_url: ldap://%host:389/

  bind_dn: %dn
  bind_pw:  %pwd
  base_dn: OU=xxx,dc=domain,dc=oceansoft

  filter: (&(objectCategory=person)(objectClass=user)(memberOf=cn=BDAI,OU=组,dc=domain,dc=corporation_name))
  attrs: [sAMAccountName, mail, mobile]

group:
  primary_mode:
    g_dev:
      member: ['users.vaildated.by.ldap.filter']
      os_home: /ws.dev
      hdfs_home: /ws.dev
      hive_role: r_dev
    g_prod:
      member: [u_rt, u_ol]
      os_home: /ws.prod
      hdfs_home: /ws.prod
      hive_role: r_prod
    g_etl:
      member: [u_etl]
      os_home: /ws.etl
      hdfs_home: /ws.etl
      hive_role: r_etl
  supplementary_mode:
    g_etl:
      member: [lile, baosy, tangzx]

ansible:
  inventory: /etc/ansible/hosts
  todo: {{ cwd }}/output/ansible/group_user.playbook.yml
  cdh_host_pattern: ydc

kerberos:
  realm: UYDC.COM
  admin: root/admin
  admin_pw: %pwd
  keytab_output_to: {{ cwd }}/output/kerberos
  todo: {{ cwd }}/output/kerberos/op_principle.sh

mail:
  server: %server
  username: %username
  password: %pwd
  sender: %sender

hdfs:
  credential:
    super: hdfs
    keytab: {{ cwd }}/conf/hdfs.keytab
  todo: {{ cwd }}/output/hdfs/op_hdfs.sh

