ldap:
  url: ldap://%host:389/
  intra_url: ldap://%host:389/

  bind_dn: %dn
  bind_pw:  %pwd
  base_dn: OU=xxx,dc=domain,dc=oceansoft

  filter: (&(objectCategory=person)(objectClass=user)(memberOf=cn=BDAI,OU=组,dc=domain,dc=oceansoft))
  attrs: [sAMAccountName, mail, mobile]

role:
  g_dev:
    user:
    workspace: /wsdev
  g_prod:
    user: [prodrt, prodol]
    workspace: /wsprod

ansible:
  inventory: /etc/ansible/hosts
  group_user_playbook: {{ cwd }}/output/ansible/group_user.playbook.yml
  cdh_host_pattern: uydc

kerberos:
  realm: UYDC.COM
  admin: root/admin
  admin_pw: %pwd
  output_to: {{ cwd }}/output/kerberos

mail:
  server: %server
  username: %username
  password: %pwd
  sender: %sender

